# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages of Data Science
* Commonly used libraries in Data Science
* Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. TensorFlow
4. Pandas

| Data Science Tools|
| ------------- |
| RStudio    | 
| Apache Spark    | 
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Mateusz Koz